<!DOCTYPE html>
<html>

<head>
<!-- Javascript Imports -->
<script src="../static/index.js"> </script>

<!-- CSS Imports -->
<link rel="stylesheet" href="../static/style.css"> 
<title>Triton Nutrition</title>
</head>


<body>
<div class="topnav">
    <button>Home</button>
    <button>About</button>
    <button>Contact</button>
    <button>FAQs</button>
</div>



<h1>
    Triton Nutrition
</h1>

<img src="../static/images/logo.png" class="logo">

<p>
    How are you trying to eat?
</p>

<div id="div1">
    
</div>

<div class="buttongroup"> 
    <button onclick="weightChoice(0)">To Lose Weight</button>
    <button onclick="weightChoice(1)">To Maintain Weight</button>
    <button onclick="weightChoice(2)">To Gain Weight</button> 
</div>

<div class="buttongroup" id="buttongroup2">

    <p>
        Do any of these apply?
    </p>

</div>

<div class="checkbox" id="allergies">

</div>
</body>

</html>