<!DOCTYPE html>
<html>

<head>
<!-- Javascript Imports -->
<script scr="../static/index.js"></script>

<!-- CSS Imports -->
<link rel="stylesheet" href="../static/style.css"> 
<title>Triton Nutrition</title>
</head>


<body>
<script scr="../static/index.js"></script>
<div class="topnav">
    <button>Home</button>
    <button>About</button>
    <button>Contact</button>
    <button>FAQs</button>
</div>



<h1>
    Triton Nutrition
</h1>

<img src="../static/images/logo.png" class="logo">

<p>
    How are you trying to eat?
</p>


<div class="buttongroup"> 
    <button onclick="loseWeight()">To Lose Weight</button>
    <button onclick="maintainWeight()">To Maintain Weight</button>
    <button onclick="gainWeight()">To Gain Weight</button> 
</div>
</body>

</html>